<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="Controller">
    
    <p>The name is {{ name | uppercase }}</p>

    <p>The name is {{ name | lowercase }}</p>

    <!--orderBy-->
    <ul>
        <li ng-repeat="player in players | orderBy: 'level' ">
            {{player}}
        </li>
    </ul>

    <!-- 123 to $123.00 -->
    <p>Price: {{ price | currency }}</p>

    <!-- Return element contain "Hoang" -->
    <ul>
        <li ng-repeat="x in names | filter : 'Hoang'">
          {{ x }}
        </li>
    </ul>

    <ul>
        <li ng-repeat="num in numbers">
          {{ num | myFilterFunction }}
        </li>
    </ul>
      

    <script src="script.js"></script>
</body>
</html>